@import "src/styles/breakpoints";

.vehicle-list {
  display: grid;

  @include mq(medium) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mq(large) {
    grid-template-columns: repeat(4, 1fr);
  }

  &__item {
    display: flex;
  }


  @include mq(medium) {

    &__item:nth-child(2n) .vehicle-card__content {
      border-right-width: 0;
    }
  }

  @include mq(large) {

    &__item:nth-child(2n) .vehicle-card__content {
      border-right-width: 1px;
    }

    &__item:nth-child(4n) .vehicle-card__content {
      border-right-width: 0;
    }
  }
}
